@use '@angular/material' as mat;
@use '../../app-theme';

// Define the light theme.
@include mat.theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$rose-palette,
  ),
  typography: (
    plain-family: (Roboto, sans-serif),
    brand-family: (Roboto, sans-serif),
  ),
  density: (
    scale: 0,
  ),
));

@include app-theme.theme();
