* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ccc;
  table {
    border-collapse: collapse;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
