$mat-required-field-height: 22.4px;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  background: var(--mat-sys-surface);
}

#credentials-form {
  padding: 2rem;
  padding-bottom: calc(2rem - $mat-required-field-height);
  max-width: 330px;
  width: 100%;
  background: var(--mat-sys-primary-container);

  mat-card-title {
    color: var(--mat-sys-on-surface) !important;
    padding-bottom: 1rem;
  }

  mat-form-field {
    display: block;
  }

}
