@use '@angular/material' as mat;

@mixin theme() {
  app-login {
    background: var(--mat-sys-primary);

    #credentials-form {
      mat-card-title {
        color: var(--mat-sys-on-primary) !important;
      }
      background: var(--mat-sys-tertiary);
    }
  }
}
