<mat-card id="credentials-form" [formGroup]="credentials">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Enter your user name</mat-label>
      <input
        matInput
        placeholder="my-username"
        required
        [formControl]="credentials.controls.username"
      />
      <mat-error *ngIf="credentials.controls.username.errors?.['required']">required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        placeholder="my-password"
        type="password"
        required
        [formControl]="credentials.controls.password"
      />
      <mat-error *ngIf="credentials.controls.password.errors?.['required']">required</mat-error>
    </mat-form-field>
    <button mat-flat-button color="accent" (click)="login()">Login</button>
  </mat-card-content>
</mat-card>
