@use '@angular/material' as mat;

@mixin theme() {
  app-login {
    background: var(--mat-sys-surface);

    #credentials-form {
      mat-card-title {
        color: var(--mat-sys-on-surface) !important;
      }
      background: var(--mat-sys-primary-container);
    }
  }
}
