<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleSideNav()"
    >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Warehouse Engine</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Color palette button to choose theme"
    [matMenuTriggerFor]="menu"
    >
    <mat-icon>palette</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @if (currentTheme$ | async; as currentTheme) {
      <button
        mat-menu-item
        [disabled]="currentTheme === 'azure-blue'"
        (click)="updateTheme('azure-blue')"
        >
        <mat-icon>light_mode</mat-icon>
        <span>Azure/Blue</span>
      </button>
      <button
        mat-menu-item
        [disabled]="currentTheme === 'magenta-violet'"
        (click)="updateTheme('magenta-violet')"
        >
        <mat-icon>light_mode</mat-icon>
        <span>Magenta/Violet</span>
      </button>
      <button
        mat-menu-item
        [disabled]="currentTheme === 'cyan-orange'"
        (click)="updateTheme('cyan-orange')"
        >
        <mat-icon>dark_mode</mat-icon>
        <span>Cyan/Orange</span>
      </button>
      <button
        mat-menu-item
        [disabled]="currentTheme === 'pink-bluegrey'"
        (click)="updateTheme('pink-bluegrey')"
        >
        <mat-icon>dark_mode</mat-icon>
        <span>Pink/Blue Grey</span>
      </button>
    }
  </mat-menu>
</mat-toolbar>
