<div class="docs-component-viewer-nav">
  <div class="docs-component-viewer-nav-content" >
    <mat-sidenav-container class="container">
        <mat-sidenav mode="side" class="sidenav" [opened]="sideNavOpen$ | async">
          <mat-nav-list>
            <a mat-list-item routerLink="/" routerLinkActive="docs-component-viewer-sidenav-item-selected">home</a>
            <a mat-list-item routerLink="/profile">Profile</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/settings">Settings</a>
            <a tabindex="0" mat-list-item (keyup)="logoutOnKeyup($event)" (click)="logout()">Logout</a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <ng-content></ng-content>
        </mat-sidenav-content>
      </mat-sidenav-container>
  </div>
</div>
