@use '@angular/material' as mat;
@use 'sass:color';

@mixin theme() {
  .docs-component-viewer-nav-content {
    border-right: 1px solid var(--mat-sys-outline-variant);

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .26);
    }

    a {
      color: var(--mat-sys-on-surface);

      &:hover {
        color: var(--mat-sys-on-surface);
      }

      &.sidenav-item-selected {
        background: rgba(var(--mat-sys-primary), 0.15);

        .mdc-list-item__primary-text {
          @media (prefers-color-scheme: dark) {
            color: var(--mat-sys-primary);
          }
          @media (prefers-color-scheme: light) {
          color: var(--mat-sys-primary); // todo: add a darker shade of primary for light mode
          }
        }
      }

      &.sidenav-item-selected:hover {
        background: rgba(var(--mat-sys-primary), 0.3);
      }
    }
  }
}
